* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue
}

body {
    background-color:rgb(86, 86, 86);
    display: flex;
    justify-content: center;
    margin: 30vh;
    line-height: 2;
}



#email {
    width: 100%;
}

#passwort {
    width: 100%;
}

section {
    display: flex;
    justify-content: space-evenly;
}

.buttonOne {
    background-color: green;
    border: none;
    padding: 20px 50px;
    text-decoration: none;
}

.buttonOne:hover {
    background-color: rgb(0, 165, 0);
    border: none;
    padding: 20px 50px;
}

.button {
    width: 100%;
    background-color: green;
    border: none;
    padding: 20px 60px;
}

.button:hover {
    background-color: rgb(0, 165, 0);
    border: none;
    padding: 20px 60px;
}

